.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.introducao h1 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
}

.introducao-perfil {
  position: relative;
  justify-content: right;
  left: 15px;
}

.introducao-perfil img {
  border-radius: 5px;
  border: 1px solid var(--c6);
  box-shadow: -10px -10px var(--s1);
}

.introducao h1::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: var(--p1);
  border: 1px solid #111;
  position: absolute;
  top: 5px;
  left: -15px;
  z-index: -1;
}

.introducao p {
  font-size: 2.25rem;
  color: var(--c8);
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 25px;
    height: 25px;
    left: -10px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2.25rem;
  }

  .introducao p {
    font-size: 1.5rem;
  }

  .introducao h1::before {
    width: 20px;
    height: 20px;
    left: -10px;
    top: 0px;
  }
}

@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }

  .introducao h1 {
    font-size: 3rem;
  }

  .introducao img {
    display: none;
  }

  .introducao h1::before {
    width: 25px;
    height: 25px;
    left: -10px;
    top: 5px;
  }
}
